<ul>
<li>
    <h2>{{data}}</h2>


    
        
</li>

<form action="/" method="post">

    <<textarea name="text" id="textItem" cols="30" rows="10">
        
    </textarea>
            <button type="submit" >Submit</button>
        </form>


</ul>